<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
		        class="org.eclipse.gmt.modisco.java.emffrag.metadata.JavaPackage"
		        genModel="models/JavaModel.genmodel"
		        uri="http://www.eclipse.org/MoDisco/Java/0.2.incubation/java/emffrag"/>
		<package
		        class="de.hub.srcrepo.repositorymodel.emffrag.metadata.RepositoryModelPackage"
		        genModel="models/RepositoryModel.genmodel"
		        uri="http://hub.sam.repositorymodel/1.0/emffrag"/>
    </extension>
	
    <extension
	         id="application"
	         point="org.eclipse.core.runtime.applications">
		<application>
	         <run
	               class="de.hub.srcrepo.emffrag.EmfFragSrcRepoImport">
	         </run>
	    </application>
    </extension>
    <extension
          id="headless"
          point="org.eclipse.core.runtime.products">
       <product
             application="de.hub.srcrepo.emffrag.application"
             name="Import">
          <property
                name="appName"
                value="Import">
          </property>
       </product>
    </extension>
    <extension
          id="srcrepo"
          point="org.eclipse.core.runtime.products">
       <product
             application="de.hub.srcrepo.emffrag.application"
             name="srcrepo">
          <property
                name="appName"
                value="srcrepo">
          </property>
       </product>
    </extension>
	
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated RepositoryModel -->
      <package
            uri="http://hub.sam.repositorymodel/1.0/emffrag"
            class="de.hub.srcrepo.repositorymodel.emffrag.metadata.RepositoryModelPackage"
            genModel="models/RepositoryModel.genmodel"/>
   </extension>

</plugin>
